@import url('../css/description-card.css');

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
input,
button {
  font: inherit;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.entry-field {
  display: flex;
  gap: 20px;
  margin-top: 60px;
  font-size: 32px;
}
.input-film {
  padding-left: 10px;
  width: 500px;
  height: 50px;
  border: 1px solid #000;
  font-size: 32px;
}
::placeholder {
  font-size: 32px;
}
.button-search {
  cursor: pointer;
  width: 250px;
  background-color: #0094ff;
  color: #fff;
}
.films-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.film-wrapper {
  padding: 30px;
  display: flex;
  gap: 30px;
}
.film-wrapper:hover {
  cursor: pointer;
  width: 80%;
  background-color: #d9d9d9;
  border-radius: 35px;
}
.film__image {
}
.film__feature {
}
.film-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
}
.film-realeased {
  color: #0094ff;
  font-size: 25px;
  line-height: 30px;
}
.film-category {
  margin-top: 10px;
  font-size: 30px;
  line-height: 35px;
}
